.quizlist{
    padding: 40px;
}

.quizlistitem{
    margin: 10px;
    width: 20vw;
    height: 20vw;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-style: dotted;
}

.quizlistitem:hover{
    border-style: solid;
}

.quizlistitemtitle{
    text-align: center;
}

.quizlistitemcategory,.quizlistitemplaybtn{
    text-align: right;
    float: right;
}

.quizlistitemstartdate,.quizlistitemdashboardbtn{
    text-align: left;
}

.quizlistitemfooter{
    margin-top: 20px;
}