.quizlist{
    padding: 40px;
}

.quizlistitem{
    color: black;
    border-radius: 10px;
    border-width: 2px;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.quizlistitemtitle{
    text-align: center;
}

.quizlistitemcategory,.quizlistitemplaybtn{
    text-align: right;
    float: right;
}

.quizlistitemstartdate,.quizlistitemdashboardbtn{
    text-align: left;
}

.quizlistitemfooter{
    margin-top: 20px;
}