.footer_alert {

    height:24px; 
    width: 100%;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    background-color: #f2dede;
    border-color: #ebccd1;
}   

.footer_contents_alert {
    color:#a94442;
    height:24px; 
    width: 100%;
    text-align: center;
}