

  /* Winner / Finisher GIFs */
  .status{
    margin-top: 10px;
    width: 40px;
    height: 30px;
  }

  .username{
      margin-top: 10px;
  }

  .footernote, .title{
      text-align: center;
  }