

  /* Winner / Finisher GIFs */
  .status{
    margin-top: 10px;
    width: 40px;
    height: 40px;
  }

  .username{
      margin-top: 10px;
      font-size: 20px;
      font-style: italic;
  }

  .footernote, .title{
      text-align: center;
  }

  .togglebutton{
    float: right;
    margin-right: 100px;
  }