
.authenticateform{
    width: 95%;
    margin: auto;
}

@media only screen and (min-width: 400px) {
  .authenticateform{
    width: 95%;
    margin: auto;
    padding: 10px;
}
}

.message svg{
    display: block;
    margin: auto;
    width: 100px;
}

.message p{
    text-align: center;
}

.floatright{
  text-align: right;
}

.footer{
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

.dropdown-button{
  margin-top: 20px;
  margin-left: 10px;
}

.avatarul {
  list-style: none;
}
.avatarli {
  display: inline-block;
  margin-right: 15px;
}
.avatarinput {
  visibility:hidden;
}
.avatarlabel {
  cursor: pointer;
  text-align: center;
}
.avatarinput:checked + label {
  border-style: solid;
  border-color: orange;
}
.custom-modal{
  width: 60% !important;
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar .name{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width:100px;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar ul li a:hover {
  background-color: #111;
}

.navbar .right{
  float: right;
}

/*
* Below code is for Cross and Tick animation
*/
.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
  }
  .path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
  }
  .path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
  }
  .path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
    animation: dash-check 0.9s 0.35s ease-in-out forwards;
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  