
.avatarImg{
    height: 100px;
    width: 100px;
}

label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
label > input + .avatarImg{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
label > input:checked + .avatarImg{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px dotted cyan;
}

.avatarSelection{
    text-align: center;
}

.avatarul {
    list-style: none;
  }
  .avatarli {
    display: inline-block;
    margin-right: 15px;
  }
  .avatarinput {
    visibility:hidden;
  }
  .avatarlabel {
    cursor: pointer;
    text-align: center;
  }
  .avatarinput:checked + label {
    border-style: solid;
    border-color: orange;
  }